version: 1
formatters:
    black_white:
        class: logging.Formatter
        format: '[{levelname:^9}] - ({name:^30}), {asctime} - {message}'
        datefmt: '%Y.%m.%d, %H:%M:%S'
        style: '{'
    colorful_terminal:
        class: source.logging_stuff.TerminalColorfulFormatter
        format: '[{levelname:^9}] - ({name:^30}), {asctime} - {message}'
        datefmt: '%Y.%m.%d, %H:%M:%S'
        style: '{'
    colorful_discord:
        class: source.logging_stuff.DiscordColorfulFormatter
        format: '[{levelname:^9}] - ({name:^30}), {asctime} - {message}'
        datefmt: '%Y.%m.%d, %H:%M:%S'
        style: '{'
handlers:
    file:
        class: logging.FileHandler
        level: DEBUG
        formatter: black_white
        filename: cakematrix.log
    terminal:
        class: logging.StreamHandler
        level: DEBUG
        formatter: colorful_terminal
        stream: ext://sys.stdout
    discord:
        class: source.logging_stuff.WebhookHandler
        level: DEBUG
        formatter: colorful_discord
        webhook_url: 'https://discord.com/api/webhooks/982739830213578792/870U9Gy1fcVlfYAKs0RyEViIORaIrsAHOlqkHkPfi0L5iFg-BvuHCzRC8PR7LcyBEZn-'

loggers:
    source.cogs:
        level: DEBUG
        handlers: [file, terminal, discord]
    discord:
        level: INFO
        handlers: [file, terminal, discord]